#trailer {
    position:relative;
    overflow:hidden;
    border-radius:20px;
    cursor:pointer;
    padding-bottom:56.25%;
    border:0px solid var(--color-2);
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:100%;
    transition:all ease 0.3s;
}
#trailer:hover {
    border:4px solid var(--text-color-1);
    border-top:0;
    border-bottom:0;
    background-size:110%;
    transition:all ease 0.3s;
}
#trailer .btn-container {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display:flex;
    z-index:10;
    align-items:center;
    justify-content:center;
}
#trailer .btn-play {
    position: relative;
    color:var(--color-4);
    width:70px;
    height:70px;
    font-size:50px;
    overflow: hidden;
    transition:all ease 0.3s;
}
#trailer:hover .btn-play {
    transform:scale(0.85);
    transition:all ease 0.3s;
}
#trailer .btn-play .icon {
    position:relative;
    z-index:9;
    margin-left:5px;
    width:100%;
}
#trailer .btn-play .circle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    background: var(--text-color-1);
}
#trailer .btn-play .circle span {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#trailer .btn-play .circle span em {
    position: absolute;
    border-radius: 999px;
    width: 100%;
    height: 100%;
    background: var(--color-4);
    transition: transform 0.25s linear;
}
#trailer .btn-play .circle span:first-child {
    left: 0%;
}
#trailer .btn-play .circle span:first-child em {
    left: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform-origin: 0% 50%;
}
#trailer .btn-play .circle span:last-child {
    left: 50%;
}
#trailer .btn-play .circle span:last-child em {
    left: -100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform-origin: 100% 50%;
    transition-delay: .25s;
}
#trailer .btn-play:hover .circle span:first-child em {
    transform: rotate(-180deg);
    transition: transform 0.5s ease-out;
    transition-delay: .25s;
}
#trailer .btn-play:hover .circle span:last-child em {
    transform: rotate(-180deg);
    transition: transform .25s linear;
}
  .modal-video-movie-wrap {
    background:var(--gradient-1);
    border-radius:15px;
  }
  .modal-video-movie-wrap iframe {
    overflow:hidden;
    border-radius:15px;
  }
